<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import InputLabel from "@/Components/InputLabel.vue";
import {useForm} from "@inertiajs/vue3";

const props = defineProps(
    {
        partides:{
            type:Array(String),
        }
    }
);

const form = useForm({
    selectedIdPartida: '',
});

const submitForm = () => {
    console.log("@@PARTIDA SELECCIONADA "+form.selectedIdPartida);
    form.post(route('acabarPartidaPost'), {
        idPartida: form.selectedIdPartida
    });
};

function acabarToText(acabada){
    switch (acabada){
        case 0:
            return "En progrès";
        case 1:
            return "Acabada";
    }
}


</script>

<template>
    <AuthenticatedLayout>
        <div class="container mt-3">
            <table class="table table-striped-columns table-bordered text-center">
                <tr>
                    <th>IdPartida</th>
                    <th>IdGuanyador</th>
                    <th>Punts</th>
                    <th>Acabada</th>
                </tr>
                <tr v-for="partida in partides">
                    <td>{{ partida.idPartida }}</td>
                    <td>{{ partida.idGuanyador }}</td>
                    <td>{{ partida.punts }}</td>
                    <td>{{ acabarToText(partida.acabada)}}</td>
                </tr>
            </table>

            <form @submit.prevent="submitForm">
                <div class="flex items-center justify-end mt-4">
                <InputLabel for="selectedIdPersonatge" value="Seleccionar partida:" />
                <select v-model="form.selectedIdPartida">
                    <option v-for="partida in partides" :key="partida.idPartida" :value="partida.idPartida">{{ partida.idPartida }}</option>
                </select>
                    <PrimaryButton type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Acabar partida
                    </PrimaryButton>

                </div>
            </form>
        </div>
    </AuthenticatedLayout>

</template>

<style scoped>

table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    background-color: #b4cbe8;
    font-weight: bold;
}
</style>
