<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";

defineProps({
    missatge: {
        type: String,
    },
});

</script>

<template>
    <AuthenticatedLayout>
        <div class="text-center mt-5 text-danger">
            <h4> {{  missatge }} </h4>
        </div>
    </AuthenticatedLayout>
</template>

<style scoped>

</style>
