<script setup>
import {useForm} from "@inertiajs/vue3";

import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

defineProps({
    personatges: {
        type: Array(String),
    },
    partides: {
        type: Array(String),
    },
});

const form = useForm({
    partidaSeleccionada: '',
    personatgeSeleccionat: '',
})

const functionAfegirPersonatgeAPartida = () => {
    form.post(route('afegirPersonatgeAPartida'));
};

</script>

<template>
    <GuestLayout>
        <Head title="Afegir personatge a partida"/>

        <form>
            <InputLabel for="personatges" value="Els meus personatges:"/>
            <select v-model="form.personatgeSeleccionat">
                <option v-for="personatge in personatges" :value="personatge.idPersonatge">
                    {{ personatge.nom }}
                </option>
            </select>

            <InputLabel for="partides" value="Partides:"/>
            <select v-model="form.partidaSeleccionada">
                <option v-for="partida in partides" :key="partida.idPartida" :value="partida.idPartida">
                    {{ partida.idPartida }}
                </option>
            </select>

            <div class="flex items-center justify-end mt-4">
                <PrimaryButton @click="functionAfegirPersonatgeAPartida" class="ms-4"
                               :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Afegir personatge
                </PrimaryButton>
            </div>
        </form>

    </GuestLayout>

</template>

<style scoped>

</style>
