<script setup>
import {useForm} from "@inertiajs/vue3";

import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

const form = useForm({
    idHistoria: '',
    idGuanyador: '',
    punts: '',
    acabada: '',
})

defineProps({
    histories: {
        type: Array(String),
    }
})

const submitForm = () => {
    form.post(route('afegirPartida'));
};
</script>

<template>
    <GuestLayout>
        <Head title="Afegir Partida"/>

        <form @submit.prevent="submitForm">
            <div>
                <InputLabel for="idHistoria" value="Id Historia a Escoger:"/>
                <select id="idHistoria" v-model="form.idHistoria">
                    <option v-for="historia in histories" :key="historia.idHistoria" :value="historia.idHistoria">
                        {{historia.titol}}
                    </option>
                </select>
            </div>
            <div>
                <InputLabel for="idGuanyador" value="IdGuanyador:"/>
                <TextInput
                    id="idGuanyador"
                    type="number"
                    class="mt-1 block w-full"
                    v-model="form.idGuanyador"
                    required
                    autofocus
                    autocomplete="idGuanyador"
                />
            </div>
            <div>
            <InputLabel for="punts" value="Punts:"/>
            <TextInput
                id="punts"
                type="number"
                class="mt-1 block w-full"
                v-model="form.punts"
                required
                autofocus
                autocomplete="punts"
            />
        </div>
            <div>
                <InputLabel for="acabada" value="Acabada(1:true/0:false):"/>
                <TextInput
                    id="acabada"
                    type="number"
                    class="mt-1 block w-full"
                    v-model="form.acabada"
                    required
                    autofocus
                    autocomplete="acabada"
                    min="0"
                    max="1"
                />
            </div>

            <div class="flex items-center justify-end mt-4">
                <PrimaryButton type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Afegir
                </PrimaryButton>
            </div>
        </form>

    </GuestLayout>
</template>

<style scoped>

</style>
