<script setup>
import {useForm} from "@inertiajs/vue3";
import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

const props = defineProps({
    personatges: {
        type: Array
    },
    partides: {
        type: Array
    }
})

const form = useForm({
    selectedIdPersonatge: '',
    selectedIdPartida: '',
});

const submitForm = () => {
    form.post(route('afegirPersonatgesAPartidaPost'), {
        idPersonatge: form.selectedIdPersonatge,
        idPartida: form.selectedIdPartida,
    });
};


</script>

<template>
    <GuestLayout>
        <Head title="Afegir personatge a partida"/>
        <form @submit.prevent="submitForm">
            <div>
                <InputLabel for="selectedIdPersonatge" value="Seleccionar personatge:"/>
                <select v-model="form.selectedIdPersonatge">
                    <option v-for="personatge in personatges" :key="personatge.idPersonatge"
                            :value="personatge.idPersonatge">{{ personatge.nom }}
                    </option>
                </select>
            </div>
            <div>
                <InputLabel for="selectedIdPartida" value="Seleccionar partida:"/>
                <select v-model="form.selectedIdPartida">
                    <option v-for="partida in partides" :key="partida.idPartida" :value="partida.idPartida">
                        {{ partida.idPartida }}
                    </option>
                </select>
            </div>

            <div class="flex items-center justify-end mt-4">
                <PrimaryButton type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Afegir
                </PrimaryButton>
            </div>
        </form>

    </GuestLayout>

</template>

<style scoped>

</style>
