<script setup>
import {useForm} from "@inertiajs/vue3";

import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

const form = useForm({
    nom: '',
    email: '',
    contrasenya: '',
    rol: '',
})

const submitForm = () => {
    form.post(route('afegirUsuari'));
};

</script>

<template>
    <GuestLayout>
        <Head title="Afegir usuari"/>

        <form @submit.prevent="submitForm">
            <div>
                <InputLabel for="nom" value="Nom:"/>
                <TextInput
                    id="nom"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.nom"
                    required
                    autofocus
                    autocomplete="nom"
                />
            </div>

            <div>
                <InputLabel for="email" value="E-mail:"/>
                <TextInput
                    id="email"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.email"
                    required
                    autofocus
                    autocomplete="email"
                />
            </div>

            <div>
                <InputLabel for="contrasenya" value="Contrasenya:"/>
                <TextInput
                    id="contrasenya"
                    type="password"
                    class="mt-1 block w-full"
                    v-model="form.contrasenya"
                    required
                    autofocus
                    autocomplete="contrasenya"
                />
            </div>

            <div>
                <InputLabel for="rol" value="Rol:"/>
                <TextInput
                    id="rol"
                    type="number"
                    class="mt-1 block w-full"
                    v-model="form.rol"
                    required
                    autofocus
                    autocomplete="rol"
                    min="1"
                    max="3"
                />
            </div>

            <div class="flex items-center justify-end mt-4">
                <PrimaryButton type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Afegir
                </PrimaryButton>
            </div>
        </form>

    </GuestLayout>

</template>

<style scoped>

</style>
