<script setup>
import {useForm} from "@inertiajs/vue3";

import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

const form = useForm({
    titol: '',
    fitxer: '',
})

const previewFiles1 = (event) =>{
    console.log(event.target.files[0].name);
    form.fitxer=event.target.files[0];
};


const submitForm = () => {
    form.post(route('afegirHistoria'));
};

</script>

<template>
    <GuestLayout>
        <Head title="Afegir Historia"/>

        <form @submit.prevent="submitForm">
            <div>
                <InputLabel for="titol" value="Titol:"/>
                <TextInput
                    id="titol"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.titol"
                    required
                    autofocus
                    autocomplete="titol"
                    max="30"
                />
            </div>
            <InputLabel for="fitxer" value="Fitxer:" />
            <input type="file" name="fitxer" @change="previewFiles1"><br/>
            <div>

            </div>

            <div class="flex items-center justify-end mt-4">
                <PrimaryButton type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Afegir
                </PrimaryButton>
            </div>
        </form>

    </GuestLayout>

</template>

<style scoped>

</style>
