<script setup>
import {useForm} from "@inertiajs/vue3";

import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

defineProps({
    personatges: {
        type: Array(String),
    },
    idsPartides: {
        type: Array(String),
    }
});

const form = useForm({
    personatgeSeleccionat: '',
    partidaSeleccionada: '',
})

const functionAfegirTirada = () => {
    form.post(route('afegirTirada'));
};

const realitzadaDictionary = {
    'Sí': 1,
    'No': 0
};

const mecanicaArray = ["Mínim", "Màxim"];

</script>

<template>
    <GuestLayout>
        <Head title="Afegir tirada"/>

        <form>

            <InputLabel for="personatges" value="Selecciona un personatge:"/>
            <select v-model="form.personatgeSeleccionat">
                <option v-for="personatge in personatges" :key="personatge.idPersonatge" :value="personatge.idPersonatge">
                    {{ personatge.nom }}
                </option>
            </select>

            <InputLabel for="partides" value="Partides:"/>
            <select v-model="form.partidaSeleccionada">
                <option v-for="idPartida in idsPartides" :key="idPartida" :value="idPartida">
                    {{ idPartida }}
                </option>
            </select>

            <div class="flex items-center justify-end mt-4">
                <PrimaryButton @click="functionAfegirTirada" class="ms-4" :class="{ 'opacity-25': form.processing }"
                               :disabled="form.processing">
                    Afegir tirada
                </PrimaryButton>
            </div>
        </form>

    </GuestLayout>

</template>

<style scoped>

</style>
