<script setup>
import 'bootstrap/dist/css/bootstrap.css';

import {useForm} from "@inertiajs/vue3";

import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

defineProps({
    narracions: {
        type: Array(String),
    },
    partides: {
        type: Array(String),
    }
})

const form = useForm({
    idNarracio:'',
    idPartida: '',
    titol: '',
    descripcio: '',
    realizada: '',
    mecanicaDau: '',
    minimDau: '',
    ordre: '',
    puntsExperiencia: ''
})

const mecanicaArray = ["Mínim", "Màxim"];

const realitzadaDictionary = {
    'Sí': 1,
    'No': 0
};

const submitForm = () => {
    form.post(route('editarNarracio'));
};
</script>

<template>
    <GuestLayout>
        <Head title="Editar Narracio"/>

        <form @submit.prevent="submitForm">
            <div>
                <InputLabel for="idNarracio" value="Narració a editar:"/>
                <select id="idNarracio" v-model="form.idNarracio">
                    <option v-for="narracio in narracions" :key="narracio.idNarracio" :value="narracio.idNarracio">
                        {{narracio.titol}}
                    </option>
                </select>
            </div>

            <div>
                <InputLabel for="partides" value="Partides:"/>
                <select v-model="form.idPartida">
                    <option v-for="partida in partides" :key="partida.idPartida" :value="partida">
                        {{ partida }}
                    </option>
                </select>
            </div>
            <div>
                <InputLabel for="titol" value="Titol:"/>
                <TextInput
                    id="titol"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.titol"
                    required
                    autofocus
                    autocomplete="titol"
                    max="30"
                />
            </div>
            <div>
                <InputLabel for="descripcio" value="Descripció:"/>
                <TextInput
                    id="descripcio"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.descripcio"
                    required
                    autofocus
                    autocomplete="descripcio"
                    max="50"
                />
            </div>
            <div>
                <InputLabel for="realitzada" value="Ha estat realitzada?:"/>
                <select v-model="form.realizada">
                    <option v-for="(valor, clau) in realitzadaDictionary" :value="valor">
                        {{ clau }}
                    </option>
                </select>
            </div>
            <div>
                <InputLabel for="mecanicaDau" value="Mecànica del dau:"/>
                <select v-model="form.mecanicaDau">
                    <option v-for="mecanica in mecanicaArray">
                        {{ mecanica }}
                    </option>
                </select>
            </div>
            <div>
                <InputLabel for="minimDau" value="Mínim dau:"/>
                <TextInput
                    id="minimDau"
                    type="number"
                    class="mt-1 block w-full"
                    v-model="form.minimDau"
                    required
                    autofocus
                    autocomplete="minimDau"
                    min="1"
                    max="20"
                />
            </div>
            <div>
                <InputLabel for="ordre" value="Ordre:"/>
                <TextInput
                    id="ordre"
                    type="number"
                    class="mt-1 block w-full"
                    v-model="form.ordre"
                    required
                    autofocus
                    autocomplete="ordre"
                    min="1"
                />
            </div>
            <div>
                <InputLabel for="puntsExperiencia" value="Punts d'experiència:"/>
                <TextInput
                    id="puntsExperiencia"
                    type="number"
                    class="mt-1 block w-full"
                    v-model="form.puntsExperiencia"
                    required
                    autofocus
                    autocomplete="puntsExperiencia"
                    min="1"
                />
            </div>
            <div class="flex items-center justify-end mt-4">
                <PrimaryButton type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Editar
                </PrimaryButton>
            </div>
        </form>

    </GuestLayout>
</template>

<style scoped>

</style>
