<script setup>
import {useForm} from "@inertiajs/vue3";
import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

const props = defineProps({
    rols: {
        type: Array
    }
})

const form = useForm({
    selectedNomRols: '',
    selectedIdRols: '',
});

const submitForm = () => {
    console.log("@@ROL SELECCIONADO "+form.selectedIdRols);
    console.log("@@NOMBRE SELECCIONADO "+form.selectedNomRols);
    form.post(route('editRolPost'), {
        idRols: form.selectedIdRols,
        nomRols: form.selectedNomRols,
    });
};


</script>

<template>
    <GuestLayout>
        <Head title="Editar rols"/>
        <div>
            <InputLabel for="selectedIdRols" value="Seleccionar Rol:" />
            <select v-model="form.selectedIdRols">
                <option v-for="rol in rols" :key="rol.idRols" :value="rol.idRols">{{ rol.nom }}</option>
            </select>
        </div>
        <form @submit.prevent="submitForm">
            <div>
                <InputLabel for="nom" value="Nou nom del rol:"/>
                <TextInput
                    id="nom"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.selectedNomRols"
                    required
                    autofocus
                    autocomplete="nom"
                />
            </div>

            <div class="flex items-center justify-end mt-4">
                <PrimaryButton type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Editar
                </PrimaryButton>
            </div>
        </form>

    </GuestLayout>

</template>

<style scoped>

</style>
