<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import {useForm} from "@inertiajs/vue3";
import PrimaryButton from "@/Components/PrimaryButton.vue";

defineProps({
    users: {
        type: Array(String),
    }
});

const form = useForm({
    nom: '',
    email: '',
    selectedOption: null,
});

const functionEditarUsuari = () => {
    form.post(route('editarUsuari'));
};


</script>

<template>
    <GuestLayout>
        <Head title="Editar usuari"/>

        <form>
            <div>
                <InputLabel for="nom2" value="Nom:"/>
                <select id="selectOption" v-model="form.selectedOption">
                    <option v-for="user in users" :key="user.id" :value="user.id">
                        {{ user.name }}
                    </option>
                </select>

                <InputLabel for="nom" value="Nou Nom:"/>
                <TextInput
                    id="nom"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.nom"
                    required
                    autofocus
                    autocomplete="nom"
                />

                <InputLabel for="email" value="Nou email:"/>
                <TextInput
                    id="email"
                    type="email"
                    pattern=".+@coreu\.cat"
                    placeholder="nom@correu.cat"
                    class="mt-1 block full"
                    v-model="form.email"
                    required
                    autofocus
                    autocomplete="email"
                />

            </div>
            <div class="flex items-center justify-end mt-4">
                <PrimaryButton @click="functionEditarUsuari" class="ms-4" :class="{ 'opacity-25': form.processing }"
                               :disabled="form.processing">
                    Editar
                </PrimaryButton>
            </div>
        </form>
    </GuestLayout>

</template>

<style scoped>

</style>
