<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import ResponsiveNavLink from "@/Components/ResponsiveNavLink.vue";

import {useForm} from "@inertiajs/vue3";

import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

const form = useForm({
    idHistoria: '',
    titol: '',
    fitxer: '',
})

defineProps({
    histories: {
        type: Array(String),
    }
})


const previewFiles1 = (event) =>{
    console.log(event.target.files[0].name);
    form.fitxer=event.target.files[0];
};


const submitForm = () => {
    form.post(route('editarHistoria'));
};
</script>

<template>
    <GuestLayout>
        <Head title="Afegir Historia"/>

        <form @submit.prevent="submitForm">
            <div>
                <InputLabel for="idHistoria" value="Id Historia a Editar:"/>
                <select id="idHistoria" v-model="form.idHistoria">
                    <option v-for="historia in histories" :key="historia.idHistoria" :value="historia.idHistoria">
                        {{historia.titol}}
                    </option>
                </select>
            </div>

            <div>
                <InputLabel for="titol" value="Titol:"/>
                <TextInput
                    id="titol"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.titol"
                    required
                    autofocus
                    autocomplete="titol"
                    max="30"
                />
            </div>
            <InputLabel for="fitxer" value="Fitxer:" />
            <input type="file" name="fitxer" @change="previewFiles1"><br/>
            <div>

            </div>

            <div class="flex items-center justify-end mt-4">
                <PrimaryButton type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Editar
                </PrimaryButton>
            </div>
        </form>

    </GuestLayout>
</template>

<style scoped>

</style>
