<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";

defineProps({
    histories: {
        type: Array(String),
    }
})
</script>

<template>
    <AuthenticatedLayout>
        <div class="container mt-3">
            <h5>Les meves histories</h5>
            <table class="table table-striped-columns table-bordered text-center">
                <tr>
                    <th>Id</th>
                    <th>Titol</th>
                </tr>
                <tr v-for="historia in histories">
                    <td>{{ historia.idHistoria}}</td>
                    <td>{{ historia.titol}}</td>
                </tr>
            </table>
        </div>
    </AuthenticatedLayout>
</template>

<style scoped>
table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    background-color: #b4cbe8;
    font-weight: bold;
}
</style>
