<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";

defineProps({
    partides_personatge: {
        type: Array(String),
    }
})


</script>

<template>
    <AuthenticatedLayout>
        <div class="container mt-3">
            <table class="table table-striped-columns table-bordered text-center">
                <tr>
                    <th>Id PersonatgePartida</th>
                    <th>Id Partida</th>
                    <th>Id Historia</th>
                    <th>Id Personatge</th>
                    <th>Punts</th>
                    <th>Ultima tirada</th>
                    <th>Acabada</th>
                </tr>
                <tr v-for="partida in partides_personatge">
                    <td>{{ partida.idPersonatgePartida }}</td>
                    <td>{{ partida.idPartida }}</td>
                    <td>{{ partida.idHistoria }}</td>
                    <td>{{ partida.idPersonatge }}</td>
                    <td>{{ partida.punts }}</td>
                    <td>{{ partida.ultimaTirada }}</td>
                    <td>{{ partida.acabada == 1 ? 'Sí' : 'No' }}</td>
                </tr>
            </table>
        </div>
    </AuthenticatedLayout>

</template>

<style scoped>

table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    background-color: #e8b4e5;
    font-weight: bold;
}
</style>
