<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import ResponsiveNavLink from "@/Components/ResponsiveNavLink.vue";
import {ref} from "vue";
import {useForm} from "@inertiajs/vue3";

const props = defineProps(
    {
        users:{
            type:Array(String),
        },
        rols:{
            type:Array(String),
        }
    }
);
const form = useForm(
    {selectedOption:null,}
)

const selectedOption = ref(null);
const myfunction=() =>{
    form.post(route('getAllUsersByRol'));
}

function rolsToNom(idRol){
    return props.rols[idRol-1].nom;
}

</script>

<template>
    <AuthenticatedLayout>
        <div class="container mt-3">
            <table class="table table-striped-columns table-bordered text-center">
                <tr>
                    <th>ID Rol</th>
                    <th>Nom Rol</th>
                </tr>
                <tr v-for="(idRols,nom) in rols">
                    <td>{{ idRols.idRols }}</td>
                    <td>{{ idRols.nom }}</td>
                </tr>
            </table>

            <div class="d-flex justify-content-between">
                <ResponsiveNavLink :href="route('getAfegirRol')">Afegir Rol</ResponsiveNavLink>
                <ResponsiveNavLink :href="route('getEditarRol')">Editar Rols</ResponsiveNavLink>
            <select id="selectOption" v-model="form.selectedOption">
                <option v-for="(idRols, id, nom) in rols" :value="idRols.idRols" >
                    {{idRols.nom}}
                </option>
            </select>
            <PrimaryButton @click="myfunction" class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Filtrar
            </PrimaryButton>
            </div>
            <div class="container mt-3">
                <table class="table table-striped-columns table-bordered text-center">
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Rol</th>
                    </tr>
                    <tr v-for="user in users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ rolsToNom(user.idRols)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </AuthenticatedLayout>


</template>

<style scoped>
table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    background-color: #d1b4e8;
    font-weight: bold;
}


</style>
