<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";

const props = defineProps(
    {
        users:{
            type:Array(String),
        },
        rols:{
            type:Array(String),
        }
    }
);

function rolsToNom(idRol){
    return props.rols[idRol-1].nom;
}

</script>

<template>
    <AuthenticatedLayout>
        <div class="container mt-3">
            <table class="table table-striped-columns table-bordered text-center">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Rol</th>
                </tr>
                <tr v-for="user in users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ rolsToNom(user.idRols)}}</td>
                </tr>
            </table>
        </div>
    </AuthenticatedLayout>

</template>

<style scoped>

table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    background-color: #b4cbe8;
    font-weight: bold;
}
</style>
