<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import ResponsiveNavLink from "@/Components/ResponsiveNavLink.vue";

defineProps({
    narracions: {
        type: Array(String),
    }
})
</script>

<template>
    <AuthenticatedLayout>
        <div class="container mt-3">
            <table class="table table-striped-columns table-bordered text-center">
                <tr>
                    <th>Id</th>
                    <th>IdPartida</th>
                    <th>Titol</th>
                    <th>Descripció</th>
                    <th>Finalitzada</th>
                    <th>Mecanica del Dau</th>
                    <th>Mínim del dau</th>
                    <th>Ordre</th>
                    <th>Punts d'experiència</th>
                </tr>
                <tr v-for="narracio in narracions">
                    <td>{{ narracio.idNarracio}}</td>
                    <td>{{ narracio.idPartida}}</td>
                    <td>{{ narracio.titol}}</td>
                    <td>{{ narracio.descripcio}}</td>
                    <td>{{ narracio.realizada == 1 ? 'Sí' : 'No'}}</td>
                    <td>{{ narracio.mecanicaDau}}</td>
                    <td>{{ narracio.minimDau}}</td>
                    <td>{{ narracio.ordre}}</td>
                    <td>{{ narracio.puntsExperiencia}}</td>
                </tr>
            </table>
            <div>
                <ResponsiveNavLink :href="route('getAfegirNarracions')" >
                    Add narracions
                </ResponsiveNavLink>
            </div>
            <div>
                <ResponsiveNavLink :href="route('getEditarNarracions')" >
                    Edita una narració
                </ResponsiveNavLink>
            </div>
            <div>
                <ResponsiveNavLink :href="route('getResoldreDausNarracions')" >
                    Resol daus narracions
                </ResponsiveNavLink>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<style scoped>
table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    background-color: #b4cbe8;
    font-weight: bold;
}
</style>
