<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";

defineProps({
    narracions: {
        type: Array(String),
    }
})

</script>

<template>
    <AuthenticatedLayout>
        <div class="container mt-3">
            <table class="table table-striped-columns table-bordered text-center">
                <tr>
                    <th>Id Narracio</th>
                    <th>Id Partida</th>
                    <th>Títol</th>
                    <th>Descripció</th>
                    <th>Realitzada</th>
                    <th>Mecànica dau</th>
                    <th>Mínim dau</th>
                    <th>Ordre</th>
                    <th>Punts d'experiència</th>
                </tr>
                <tr v-for="narracio in narracions">
                    <td>{{ narracio.idNarracio }}</td>
                    <td>{{ narracio.idPartida }}</td>
                    <td>{{ narracio.titol }}</td>
                    <td>{{ narracio.descripcio }}</td>
                    <td>{{ narracio.realizada == 1 ? 'Sí' : 'No' }}</td>
                    <td>{{ narracio.mecanicaDau }}</td>
                    <td>{{ narracio.minimDau }}</td>
                    <td>{{ narracio.ordre }}</td>
                    <td>{{ narracio.puntsExperiencia }}</td>
                </tr>
            </table>
        </div>
    </AuthenticatedLayout>

</template>

<style scoped>

table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    background-color: #e8cab4;
    font-weight: bold;
}
</style>
