<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import InputLabel from "@/Components/InputLabel.vue";
import ResponsiveNavLink from "@/Components/ResponsiveNavLink.vue";

const props = defineProps(
    {
        partides:{
            type:Array(String),
        }
    }
);
function acabarToText(acabada){
    switch (acabada){
        case 0:
            return "En progrès";
        case 1:
            return "Acabada";
    }
}

</script>

<template>
    <AuthenticatedLayout>
        <div class="container mt-3">
            <table class="table table-striped-columns table-bordered text-center">
                <tr>
                    <th>IdPartida</th>
                    <th>IdGuanyador</th>
                    <th>Punts</th>
                    <th>Acabada</th>
                </tr>
                <tr v-for="partida in partides">
                    <td>{{ partida.idPartida }}</td>
                    <td>{{ partida.idGuanyador }}</td>
                    <td>{{ partida.punts }}</td>
                    <td>{{ acabarToText(partida.acabada)}}</td>
                </tr>
            </table>
            <div>
                <ResponsiveNavLink :href="route('getAfegirPartida')" >
                    Afegeix una partida
                </ResponsiveNavLink>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<style scoped>

table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    background-color: #b4cbe8;
    font-weight: bold;
}
</style>
