<script setup>
import {useForm} from "@inertiajs/vue3";
import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

const props = defineProps({
    users: {
        type: Array(String),
    },
    rols: {
        type: Array
    }
})

console.log(props.rols);

const form = useForm({
    selectedIdUser: '',
    selectedIdRols: '',
});

const submitForm = () => {
    form.post(route('editarRolsUsuarisPost'), {
        idUser: form.selectedIdUser,
        idRols: form.selectedIdRols,
    });
};


</script>

<template>
    <GuestLayout>
        <form @submit.prevent="submitForm">
            <div>
                <InputLabel for="selectedUserId" value="Seleccionar usuari:" />
                <select v-model="form.selectedIdUser">
                    <option v-for="user in users" :key="user.id" :value="user.id">{{ user.name }}</option>
                </select>
            </div>

            <div>
                <InputLabel for="selectedRoleId" value="Seleccionar rol:" />
                <select v-model="form.selectedIdRols">
                    <option v-for="rol in rols" :key="rol.idRols" :value="rol.idRols">{{ rol.nom }}</option>
                </select>
            </div>

            <div class="flex items-center justify-end mt-4">
                <PrimaryButton type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Editar Rol
                </PrimaryButton>
            </div>
        </form>
    </GuestLayout>
</template>



<style scoped>

</style>
