<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import ResponsiveNavLink from "@/Components/ResponsiveNavLink.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import {useForm} from "@inertiajs/vue3";
import InputLabel from "@/Components/InputLabel.vue";

defineProps({
    partides_personatge: {
        type: Array(String),
    },
})

const form = useForm({
    idPartida: ''
});


const functionResoldreDau = () => {
    form.post(route('resoldreDausNarracions'));
};
</script>

<template>
    <AuthenticatedLayout>
        <div class="container mt-3">
            <table class="table table-striped-columns table-bordered text-center">
                <tr>
                    <th>Id PersonatgePartida</th>
                    <th>Id Partida</th>
                    <th>Id Historia</th>
                    <th>Id Narració</th>
                    <th>Id Personatge</th>
                    <th>Punts</th>
                    <th>Ultima tirada</th>
                    <th>Acabada</th>
                </tr>
                <tr v-for="partida in partides_personatge">
                    <td>{{ partida.idPersonatgePartida }}</td>
                    <td>{{ partida.idPartida }}</td>
                    <td>{{ partida.idHistoria }}</td>
                    <td>{{ partida.idNarracio }}</td>
                    <td>{{ partida.idPersonatge }}</td>
                    <td>{{ partida.punts }}</td>
                    <td>{{ partida.ultimaTirada }}</td>
                    <td>{{ partida.acabada == 1 ? 'Sí' : 'No' }}</td>
                </tr>
            </table>
            <div class="flex items-center justify-end mt-4">
                <div>
                    <InputLabel for="partides" value="Partides:"/>
                    <select v-model="form.idPartida">
                        <option v-for="partida in partides_personatge" :key="partida.idPartida" :value="partida.idPartida">
                            {{ partida.idPartida }}
                        </option>
                    </select>
                </div>
                <PrimaryButton @click="functionResoldreDau()" class="ms-4" >
                    Resoldre Daus
                </PrimaryButton>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<style scoped>
table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    background-color: #e8b4e5;
    font-weight: bold;
}
</style>
