<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";

</script>

<template>
    <AuthenticatedLayout>
        <div class="text-center mt-5 text-danger">
           <h4> No tens permisos</h4>
        </div>
    </AuthenticatedLayout>
</template>

<style scoped>

</style>
